<div *ngIf="contact" class="row">
  <div class="col-md-12">
    <h2 *ngIf="contact._id">Contact Details</h2>
    <h2 *ngIf="!contact._id">New Contact</h2>
  </div>
</div>
<div *ngIf="contact" class="row">
  <form class="col-md-12">
    <div class="form-group">
      <label for="contact-firstname">First Name</label>
      <input class="form-control" name="contact-firstname" [(ngModel)]="contact.firstname" placeholder="First Name"/>
    </div>
       <div class="form-group">
      <label for="contact-lastname">Last Name</label>
      <input class="form-control" name="contact-lastname" [(ngModel)]="contact.lastname" placeholder="Last Name"/>
    </div>
    <div class="form-group">
      <label for="contact-email">Email</label>
      <input class="form-control" name="contact-email" [(ngModel)]="contact.email" placeholder="support@mlab.com"/>
    </div>
    <div class="form-group">
      <label for="contact-mobile">Mobile</label>
      <input class="form-control" name="contact-mobile" [(ngModel)]="contact.mobile" placeholder="14156292524"/>
    </div>
    <div class="form-group">
      <label for="contact-zipcode">Zipcode</label>
      <input class="form-control" name="contact-zipcode" [(ngModel)]="contact.zipcode" placeholder="94115"/>
    </div>
    <button class="btn btn-primary" *ngIf="!contact._id" (click)="createContact(contact)">Create</button>
    <button class="btn btn-info" *ngIf="contact._id" (click)="updateContact(contact)">Update</button>
    <button class="btn btn-danger" *ngIf="contact._id" (click)="deleteContact(contact._id)">Delete</button>
  </form>
</div>
